.query-tabs-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 0;
    height: 100%;
    padding: 0 2px;

    &__scroller {
        flex: 1;
        min-width: 0;
        overflow-x: auto;
        overflow-y: hidden;
    }

    &__item {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        padding: 0 8px;

        &:not(:last-of-type) {
            border-right: 1px solid var(--g-color-line-generic-solid);
        }
    }

    &__label {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        min-width: 0;
    }

    &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
    }
}
